<div class="sharing">
  <div class="sharing-buttons horiz">
			<a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}">
				<p>Twitter</p>
			</a>
			<a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}">
				<p>Facebook</p>
			</a>
			<a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}">
				<p>Google+</p>
			</a>
			<a href="http://www.linkedin.com/shareArticle?url={{ site.url}}{{ page.url }}">
				<p>LinkedIn</p>
			</a>
		</div>
</div>
